# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

APIKey=Trello API Key
APIToken=Trello API Token
BoardId=Trello Board Id
ToDoListId=Trello 'To Do' list Id
DoneListId=Trello 'Done' list Id
