{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>
            <form action="/completecard" method="post" class="form-example">
              <input type="text" value="{{ item.id }}" name="id" hidden />
              <input type="text" value="{{ item.status }}" name="status" hidden />
              <input type="submit" class="btn btn-success" value="Complete"> {{ item.id }} - {{ item.name }} - {{ item.status }} 
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/additem" method="post" class="form-example">
    <div class="form-example">
      <label for="name">Enter item Title: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div class="form-example">
      <input type="submit" value="Submit">
    </div>
  </form>

  <form action="/completeitem" method="post" class="form-example">
    <div class="form-example">
      <label for="name">Enter item Id: </label>
      <input type="text" name="id" id="id" required>
    </div>
    <div class="form-example">
      <input type="submit" class="btn btn-success" value="Complete">
    </div>
  </form>

  <form action="/uncompleteitem" method="post" class="form-example">
    <div class="form-example">
      <label for="name">Enter item Id: </label>
      <input type="text" name="id" id="id" required>
    </div>
    <div class="form-example">
      <input type="submit" class="btn btn-danger" value="Uncomplete">
    </div>
  </form>

{% endblock %}